a:hover{
	color: red;
}

a:link{
	color: black;
	text-decoration: none;
}

body {
	background-image: url("image/ck.png");
}

pre {
	font-size: 25px;
	color: black;
}

h1{
	font-family: aharoni;
	font-size: 40px;
	color: navy;
}

p {
	font-family: arial;
	font-size: 18px;
	color: black;
}

.greet {
	font-size: 40px;
	font-family: Aharoni;
}

#ck pre.ck {
	font-size: 28px;
}

#tetz pre.tetz {
	font-size: 30px; 
}

#karl pre.karl {
	font-size: 26px;
}

#pablea pre.pablea {
	font-size: 30px;
	font-style: italic; 
}

#cael pre.cael {
	font-size: 45px;
	font-family: Arial black; 
}
input {
	font-size: 25px;
	height: 30;
	width: 350;
}

#pabz pre.pabz {
	font-size: 30px;
}

#c {
	font-size: 25px;
	font-family: aharoni;
}